.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:24px;
    background-color: #aaa;
    padding: 24px;
    border: .5px solid #555;
    border-radius: 12px;
    box-shadow: 5px 5px 15px #000;
}
.Login h2 {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #333;
}
.Login input {
    font-size: 1.2rem;
    border: none;
    border-radius: 0;
    padding: 8px;
    
}
.Login input:focus {
    outline:none;
    box-shadow:5px 5px 10px #000;
}
.Login .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}